.browse {
  margin: 2rem;
  flex: 100%;
}

.searchContainer {
  background-image: url("../images/chalkboard.jpeg");
  color: #a5a5a5;
  padding: 2rem;
  width: inherit;
}

.syllabus {
  /* height: 65%; */
  margin: 2rem;
  width: fit-content;
  align-content: center;
}

.review {
  /* height: 35%; */
  margin: 2rem;
}
