.educatorPage {
  background-color: #c9c9c9;
}

.searchContainer {
  background-image: url("../images/chalkboard.jpeg");
  color: #c9c9c9;
  padding: 2rem;
  margin: 2px;
  flex: 100%;
}

.card {
  background-color: #c9c9c9;
  border: none;
}

.inputBox {
  margin-top: 1em;
}
