.researcherPage {
  background-color: #c9c9c9;
}

.jumbotron {
  background-image: url("../images/chalkboard.jpeg");
  background-repeat: no-repeat;
  color: #c9c9c9;
}

/* .container-fluid {
  padding-bottom: 2em;
} */

.searchContainer {
  background-image: url("../images/chalkboard.jpeg");
  color: #c9c9c9;
  padding: 2rem;
  margin: 2px;
  flex: 100%;
}
