.boxes {
  margin-left: 2em;
  padding-bottom: 8px;
}

.button {
  margin-left: 2em;
}

.resalts {
  margin-top: 2em;
}

.commentBox {
  margin-left: 0.5em;
  margin-right: 0.75em;
  resize: both;
}

.darkFont {
  color: black;
}

.lightFont {
  color: #c9c9c9;
}

.abstract {
  margin-bottom: 1em;
}
